<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Details</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="onDelete()">
        <ion-icon slot="icon-only" name="trash-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <strong>Details of this course : </strong>
  <br>
  <ion-grid>
    <ion-row>
      <ion-col size="6" offset="3">
        <ion-img [src]="selectedCourse.image"></ion-img>

      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="10" offset="1">
        <h3>{{ selectedCourse.title }} By {{ selectedCourse.author }}</h3>

      </ion-col>
    </ion-row>
  </ion-grid>
  <h4>Content of this course</h4>
  <ion-list>
    <ion-item *ngFor="let keyword of selectedCourse.keywords">
      <ion-label>{{keyword}}</ion-label>
    </ion-item>
  </ion-list>

</ion-content>